*{
    margin: 0;
    padding: 0;
}

.top_header{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    background-color: #20232a;
    font-size: 22px;
}

.style_link{
    text-decoration: none;
    color: gold;
}