.main_pos{
background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}


.flex_header {
  width: 1200px;
}

.ul_nav{
  list-style-type: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}